/* -------------------------------------------------------------------------------- */
/* ! MOBILE */
/* -------------------------------------------------------------------------------- */

/* ! Variabili */
:root {
    --dark: #282828;
    --dark-blue: #141922;
    --grey: #6D6D6D;
    --light-grey: #D2D2D2;
    --light-green: #ADFF2F;
    --toolbar-height: 90px;
    --header--width: 230px;
}

/* ! Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
menu {
    list-style-type: none;
}

button {
    border: none;
    background-color: transparent;
}

/* ! Regole Layout */
body {
    font-family: "Arial", sans-serif;
}

main {
    height: 100vh;
}

.row {
    display: flex;
}

main.row {
    flex-direction: column;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
}

.toolbar-wrapper {
    position: relative;
    z-index: 999;
    flex-basis: var(--toolbar-height);
    flex-grow: 0;
    max-height: var(--toolbar-height);
    overflow-y: hidden;
    background-color: var(--dark);
}

.content-wrapper {
    max-height: calc(100vh - var(--toolbar-height));
}

.content-wrapper>.row {
    height: 100%;
}

.content-wrapper>.row>.col:first-child {
    flex-basis: 50px;
    flex-grow: 0;
    background-color: #000;
}

.main-content {
    position: relative;
    height: 100%;
    padding: 0 1.25rem 1.875rem 1.25rem;
    background-color: var(--dark-blue);
    overflow-y: auto;
}

/* ! Header */
.main-header {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.0625rem;
    height: 100%;
    color: var(--grey);
    font-size: 0.8125rem;
    font-weight: bold;
}

.logo.logo--small {
    padding-top: 0.3125rem;
    width: 30px;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
}

.logo.logo--big {
    display: none;
    width: 80%;
    padding: 1.25rem 1.25rem 0;
}

.main-header .item.item--active img,
.main-header .item:hover .item__icon img {
    filter: brightness(1);
}

/* ! Main Nav */
.main-nav {
    width: 100%;
}

.main-nav__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

.main-nav__menu .item a {
    display: flex;
    align-items: center;
    gap: 0.5625rem;
}

.main-nav__menu .item__icon img {
    width: 22px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
}

.main-nav__menu .item__text {
    display: none;
}

/* ! Playlist */
.playlist-wrapper {
    display: none;
}

/* ! Main Header Bottom */
.main-header__bottom {
    margin-top: auto;
}

/* ! Install */
.install__link {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding-bottom: 0.9375rem;
}

.install__link:hover {
    color: #fff;
}

.install__icon {
    width: 20px;
    aspect-ratio: 1/1;
    filter: brightness(0.6);
}

.install__link:hover .install__icon {
    filter: brightness(1);
}

.install__text {
    display: none;
}

/* ! Profile */
.profile {
    padding-block: 0.9375rem 0;
    margin-bottom: 0.5rem;
}

.profile__link {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    font-size: 0.9375rem;
    color: #fff;
}

.profile__icon {
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--grey);
    overflow: hidden;
}

.profile__text {
    display: none;
}

/* ! Toolbar */
.toolbar {
    height: 100%;
}

.toolbar .col:first-child {
    padding-left: 0.625rem;
}

.toolbar .col:last-child {
    padding-right: 0.625rem;
}

.toolbar .col:nth-child(2) {
    padding-inline: 0.625rem;
}

/* ! Toolbar Song */
.toolbar__song {
    display: flex;
    flex-basis: 100%;
    gap: 0.75rem;
    color: var(--grey);
}

.toolbar__song a:hover {
    color: #fff;
}

.toolbar__song .info__song-name a:hover {
    text-decoration: underline;
}

.toolbar .col:first-child,
.toolbar .col:last-child,
.toolbar__song .song__info,
.toolbar__song .song__action {
    display: flex;
    align-items: center;
}

.song__img img {
    width: 42px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.toolbar__song .song__info {
    flex-wrap: wrap;
    flex-grow: 1;
}

.toolbar__song .song__info>* {
    flex-basis: 100%;
}

.toolbar__song .info__author {
    font-size: 0.8125rem;
    color: #fff;
}

.toolbar__song .info__song-name {
    font-size: 0.625rem;
}

.toolbar__song .song__action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ! Volume & Duration Bar */
.bar {
    position: relative;
    height: 4px;
    border-radius: 2px;
    flex-grow: 1;
    background-color: var(--grey);
}

.bar:hover:before {
    background-color: var(--light-green);
}

.bar:hover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.bar:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    border-radius: 2px;
    background-color: var(--light-grey);
}

/* ! Toolbar Settings */
.toolbar__settings {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    gap: 0.5rem;
}

.toolbar__settings a {
    color: #fff;
}

/* ! Toolbar player */
.toolbar__player,
.toolbar__player a {
    color: #fff;
}

.toolbar__player .controls {
    display: flex;
    align-items: center;
    gap: 2vw;
    padding-top: 0.75rem;
    margin-bottom: 1rem;
    width: fit-content;
    margin-inline: auto;
}

.toolbar__player .controls__play-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    aspect-ratio: 1/1;
    padding-left: 0.2rem;
    border: 2px solid #fff;
    border-radius: 50%;
}

.toolbar__player .controls__play-link:hover .controls__play-icon {
    transform: scale(1.1);
}

.toolbar__player .duration {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 992px;
    margin-inline: auto;
}

.toolbar__player .duration__bar {
    flex-basis: 60%;
    flex-grow: 0;
    margin-inline: 2vw;
}

.toolbar__player .duration__bar::before {
    width: 11%;
}

.toolbar__player .duration__bar::after {
    left: 11%;
}

/* ! Main Content */
.main-content .upgrade__btn,
.main-content .menu__item {
    text-transform: uppercase;
}

.main-content__upgrade {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 1.25rem 2rem 1.25rem 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.main-content .upgrade__btn {
    display: flex;
    margin-left: auto;
    border: 1px solid currentColor;
    border-radius: 20px;
    padding-inline: 2.5rem;
    line-height: 40px;
    color: #fff;
    transition: transform 200ms ease-in-out;
}

.main-content .upgrade__btn:hover {
    transform: scale(1.1);
}

.main-content__nav {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
    margin-bottom: 2.125rem;
}

.main-content__nav .menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5625rem;
}

.main-content__nav .menu__item a {
    position: relative;
    color: var(--grey);
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.main-content__nav .item--active:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light-green);
}

.main-content__nav .menu__item a:hover {
    color: #fff;
}

/* ! Main Content Gallery */
.gallery-wrapper:not(:last-child) {
    margin-bottom: 2.5rem;
}

.gallery__title {
    margin-bottom: 0.5625rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -1px;
    color: #fff;
}

.gallery__subtitle {
    margin-bottom: 2rem;
    font-size: 0.75rem;
    color: var(--grey);
}

.gallery-wrapper--recently .gallery__title {
    margin-bottom: 1.75rem;
    font-size: 1.625rem;
    letter-spacing: -1.5px;
}

.gallery {
    flex-wrap: wrap;
    gap: 0.625rem;
}

.gallery__item {
    flex-basis: calc(calc(100% - 0.625rem) / 2);
    flex-grow: 0;
}

.gallery__item .item__img {
    position: relative;
    margin-bottom: 1rem;
}

.gallery__item .item__img--rounded {
    border-radius: 50%;
    overflow: hidden;
}

.gallery__item .item__title,
.gallery__item .item__subtitle {
    text-align: center;
    font-weight: bold;
}

.gallery__item .item__title {
    font-size: 1.0625rem;
    color: #fff;
}

.gallery-wrapper--recently .gallery__item .item__title {
    margin-bottom: 0.625rem;
}

.gallery__item .item__subtitle {
    font-size: 0.8125rem;
    color: var(--grey);
}

.gallery .hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.gallery .hover i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    aspect-ratio: 1/1;
    padding-left: 0.2rem;
    font-size: 2rem;
    color: #fff;
    border: 4px solid currentColor;
    border-radius: 50%;

}

.gallery .item__img:hover .hover {
    opacity: 1;
}

/* -------------------------------------------------------------------------------- */
/* ! Small */
/* -------------------------------------------------------------------------------- */
@media (min-width: 639px) {

    /* ! Regole layout */
    .content-wrapper>.row>.col:first-child {
        flex-basis: var(--header--width);
    }

    /* ! Header */
    .logo.logo--big {
        display: block;
    }

    .logo.logo--small {
        display: none;
    }

    .main-header .item:hover {
        color: #fff;
    }

    /* ! Main Header Bottom */
    .main-header__bottom {
        width: 100%;
        padding-inline: 1.4375rem;
    }

    /* ! Main Nav */
    .main-nav__menu {
        align-items: flex-start;
        gap: 0;
    }

    .main-nav__menu .item {
        padding: 0.4375rem 0 0.4375rem 1.25rem;
        border-left: 3px solid transparent;
    }

    .main-nav__menu .item__text {
        display: inline-block;
    }

    .main-nav__menu .item.item--active {
        border-left-color: var(--light-green);
        color: var(--light-grey);
        font-weight: 800;
    }

    /* ! Playlist */
    .playlist-wrapper {
        display: block;
        flex-grow: 1;
        width: 100%;
        padding-left: 1.4375rem;
        overflow-y: auto;
    }

    .playlist__title {
        margin-bottom: 0.9375rem;
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
    }

    .playlist {
        display: flex;
        flex-direction: column;
        gap: 1.4375rem;
    }

    .playlist--create a {
        display: flex;
        align-items: center;
        gap: 0.6875rem;
        font-size: 0.9375rem;
    }

    .playlist--create i {
        display: flex;
        width: 37px;
        aspect-ratio: 1/1;
        background-color: var(--grey);
        color: #000;
        font-size: 18px;
        align-items: center;
        justify-content: center;
    }

    .main-header .playlist--create:hover i {
        background-color: #fff;
    }

    .install__link {
        border-bottom: 1px solid var(--grey);
    }

    .install__text,
    .profile__text {
        display: inline-block;
    }

    /* ! Toolbar */
    .toolbar .col:first-child,
    .toolbar .col:last-child {
        flex-basis: var(--header--width);
        flex-grow: 0;
    }

    /* ! Toolbar Settings */
    .toolbar__settings {
        gap: 0.875rem;
    }

}

/* -------------------------------------------------------------------------------- */
/* ! Mid */
/* -------------------------------------------------------------------------------- */
@media (min-width: 878px) {

    /* ! Toolbar Song*/
    .toolbar__song .song__action {
        flex-direction: row;
        gap: 0.75rem;
        justify-content: flex-start;
    }

    /* ! Toolbar Settings */
    .toolbar__settings {
        gap: 1.0625rem;
    }

    /* ! Main Content Gallery */
    .gallery__item {
        flex-basis: calc(calc(100% - calc(0.625rem * 3)) / 4);
    }

}

/* -------------------------------------------------------------------------------- */
/* ! Large */
/* -------------------------------------------------------------------------------- */
@media (min-width: 1200px) {

    /* ! Main Content Gallery */
    .gallery {
        gap: 0.9375rem;
    }

    .gallery__item {
        flex-basis: calc(calc(100% - calc(0.9375rem * 5)) / 6);
    }

}